.stepper {
  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: fit-content;
    max-width: 100%;
    height: 100%;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
      padding: 0 1px;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb {
      width: 8px;
      border-radius: 4px;
      background-color: rgb(188, 188, 188);
    }

    &.vertical {
      flex-direction: column;
      width: fit-content;
      align-items: flex-start;
      gap: 0.2rem;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    color: gray;

    &.horizontal {
      &:first-child {
        span:first-child {
          height: 0;
          border: none;
        }
      }
      &:last-child {
        span:last-child {
          height: 0;
          border: none;
        }
      }
    }
    &.vertical {
      align-items: stretch;
      flex-direction: row;
      &:last-child {
        span:last-child {
          width: 0;
        }
      }
    }
    cursor: pointer;
    &.active {
      color: rgb(80, 80, 255);
    }
    &.completed {
      color: rgb(20, 140, 20);
    }
    &.disabled {
      color: rgb(188, 188, 188);
      pointer-events: none;
    }
  }

  &__icon {
    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      svg {
        margin: 2px;
        flex-shrink: 0;
      }
      &.horizontal {
        width: 100%;
        flex-direction: row;
      }
      &.vertical {
        width: fit-content;
        flex-direction: column;
        span:first-child {
          display: none;
        }
      }
    }
  }

  &__connector {
    overflow: hidden;
    // background-color: rgb(188, 188, 188);
    --angle: to right;
    --color: rgb(188, 188, 188);
    --bgSize: 6px 100%;
    --percent: 60%;
    --numberOfShell: 0;
    --shellWidth: 0;
    background-image: linear-gradient(
      var(--angle),
      var(--color) 0 4px,
      transparent 0 6px
    );
    background-size: var(--bgSize);
    background-repeat: round;
    background-position: -2px;

    &.active {
      --color: rgb(80, 80, 255);
    }
    &.completed {
      --color: rgb(20, 140, 20);
    }
    &.horizontal {
      width: 100%;
      height: 2px;
    }
    &.vertical {
      --angle: to bottom;
      --bgSize: 100% 6px;
      background-position: 0 -2px;
      width: 2px;
      height: 100%;
    }
  }

  &__label {
    &__wrapper {
      p:first-child {
        font-weight: 600;
      }
      &.horizontal {
        text-align: center;
        padding: 0 2rem 1rem;
      }
      &.vertical {
        padding: 0 1rem 2rem 0.2rem;
        text-align: left;
      }
    }
  }
}
