.stepper {
  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
      padding: 0 1px;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb {
      width: 8px;
      border-radius: 4px;
      background-color: rgb(188, 188, 188);
    }

    &.vertical {
      flex-direction: column;
      width: fit-content;
      align-items: flex-start;
      gap: 0.2rem;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    color: gray;

    &.horizontal {
      &:first-child {
        span:first-child {
          height: 0;
          border: none;
        }
      }
      &:last-child {
        span:last-child {
          height: 0;
          border: none;
        }
      }
    }
    &.vertical {
      align-items: stretch;
      flex-direction: row;
      &:last-child {
        span:last-child {
          width: 0;
        }
      }
    }
    cursor: pointer;
    &.active {
      color: rgb(80, 80, 255);
    }
    &.completed {
      color: rgb(20, 140, 20);
    }
    &.disabled {
      color: rgb(188, 188, 188);
      pointer-events: none;
    }
  }

  &__icon {
    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      svg {
        margin: 2px;
        flex-shrink: 0;
      }
      &.horizontal {
        width: 100%;
        flex-direction: row;
        // span:last-child {
        //   border-top-left-radius: 4px;
        //   border-bottom-left-radius: 4px;
        // }
        // span:first-child {
        //   border-top-right-radius: 4px;
        //   border-bottom-right-radius: 4px;
        // }
      }
      &.vertical {
        width: fit-content;
        flex-direction: column;
        span:first-child {
          display: none;
        }
      }
    }
  }

  &__connector {
    overflow: hidden;
    // background-color: rgb(188, 188, 188);
    --angle: to right;
    --color: rgb(188, 188, 188);
    --bgSize: 6px 100%;
    --percent: 60%;
    --numberOfShell: 0;
    --shellWidth: 0;
    background-image: linear-gradient(
      var(--angle),
      var(--color) 0 4px,
      transparent 0 6px
    );
    background-size: var(--bgSize);
    background-repeat: round;
    background-position: -2px;

    // background: var(--color)
    //   repeating-linear-gradient(
    //     var(--angle),
    //     var(--color) 0 2px,
    //     white 0 4px,
    //     var(--color) 0 6px
    //   )
    //   round 0 0;
    // background-image: linear-gradient(
    //   var(--angle),
    //   var(--color) 0 2px,
    //   transparent 0 4px,
    //   var(--color) 0 6px
    // );
    // background-size: 6px 100%;
    // background-repeat: round;
    // background-image: linear-gradient(
    //   var(--angle),
    //   var(--color),
    //   var(--color) var(--percent),
    //   transparent var(--percent),
    //   transparent 100%
    // );
    // background-position: -2px;
    // background-size: var(--bgSize);
    // &.right {
    //   background-image: linear-gradient(
    //     var(--angle),
    //     var(--color),
    //     var(--color) 60%,
    //     transparent 60%,
    //     transparent 100%
    //   );
    // }
    // &.left {
    //         background-position: -2px;
    //   background-image: linear-gradient(
    //     var(--angle),
    //     transparent,
    //     transparent 40%,
    //     var(--color) 40%,
    //     var(--color) 100%
    //   );
    // }
    &.active {
      // background-color: rgb(80, 80, 255);
      --color: rgb(80, 80, 255);
    }
    &.completed {
      // background-color: rgb(20, 140, 20);
      --color: rgb(20, 140, 20);
    }
    &.horizontal {
      width: 100%;
      height: 2px;
      // --numberOfShell: round(down, (100% - 4px) / 6, 1px);
      // --shellWidth: calc((100% - 4px) / var(--numberOfShell));
      // --percent: calc(4px / var(--shellWidth) * 100);
      // --bgSize: var(--shellWidth) 100%;
    }
    &.vertical {
      --angle: to bottom;
      --bgSize: 100% 6px;
      background-position: 0 -2px;
      width: 2px;
      height: 100%;
    }
  }

  &__label {
    &__wrapper {
      p:first-child {
        font-weight: 600;
      }
      &.horizontal {
        text-align: center;
        padding: 0 2rem 1rem;
      }
      &.vertical {
        padding: 0 1rem 2rem 0.2rem;
        text-align: left;
      }
    }
  }
}
