.stepper {
  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
      padding: 0 1px;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb {
      width: 8px;
      border-radius: 4px;
      background-color: rgb(188, 188, 188);
    }

    &.vertical {
      flex-direction: column;
      width: fit-content;
      align-items: flex-start;
      gap: 0.2rem;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    color: gray;

    &.horizontal {
      &:first-child {
        span:first-child {
          height: 0;
        }
      }
      &:last-child {
        span:last-child {
          height: 0;
        }
      }
    }
    &.vertical {
      align-items: stretch;
      flex-direction: row;
      &:last-child {
        span:last-child {
          width: 0;
        }
      }
    }
    cursor: pointer;
    &.active {
      color: rgb(80, 80, 255);
    }
    &.completed {
      color: rgb(20, 140, 20);
    }
    &.disabled {
      color: rgb(188, 188, 188);
      pointer-events: none;
    }
  }

  &__icon {
    &__wrapper {
      display: flex;
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      gap: 0.2rem;
      svg {
        flex-shrink: 0;
      }
      &.vertical {
        width: fit-content;
        flex-direction: column;
        span:first-child {
          display: none;
        }
      }
    }
  }

  &__connector {
    background-color: rgb(188, 188, 188);
    &.active {
      background-color: rgb(80, 80, 255);
    }
    &.completed {
      background-color: rgb(20, 140, 20);
    }
    &.horizontal {
      width: 100%;
      height: 0.2rem;
    }
    &.vertical {
      width: 0.2rem;
      height: 100%;
    }
  }

  &__label {
    &__wrapper {
      p:first-child {
        font-weight: 600;
      }
      &.horizontal {
        text-align: center;
        padding: 0 2rem 1rem;
      }
      &.vertical {
        padding: 0 1rem 2rem 0.2rem;
        text-align: left;
      }
    }
  }
}
